@import url("~bootstrap/dist/css/bootstrap.min.css");

.card{
    color: black;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    margin: 30px;
    padding: 3px 0px 3px 0px;
}
.button,.infor{
    display: flex;
    justify-content: space-between;
}
