<div class="row">
    <div class="card card-body" style="width: 25rem;">
        <h3>contains Quotes</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam numquam deleniti, animi placeat totam cumque id enim! Eos neque, nesciunt aliquam tempore minima, ratione numquam eum vitae cupiditate, facere tenetur.
        </p>
        <div class="infor">
          <h6>name of the person</h6>
          <h6>date posted</h6>
          <h6>days passed</h6>
        </div>
        <br> <br>
        <div class="button">
          <button class="btn btn-success">like</button>
          <button class="btn btn-danger">dislike</button>
          <button class="btn btn-danger">delete</button>
        </div>
        <br><br>
        <div>
          the person who posted
        </div>
        <br><br>
    </div>
  </div>