@import url("~bootstrap/dist/css/bootstrap.min.css");

body{
    /* background-color: rgba(0, 0, 0, 0.336); */
    background-image: url("bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: fit-content;
    margin: 20px;
    padding: 40px;
    color: cornsilk;
}
.bd{
    display: flex;
    padding: 20px;
    background-color: rgba(100, 148, 237, 0.541);
}
.card{
    color: black;
    box-shadow: 2px 2px 5px gray;
    margin: 30px;
}