<body>
    <div class="container bd">
        <div>
            <form>
                <div class="form-group">
                    <label for="Name">Your Name</label>
                    <input type="text" class="form-control" id="name">
                  </div>
                  <div class="form-group">
                    <label for="title">Title</label>
                    <input type="title" class="form-control" id="pwd">
                  </div> 
                  <div _ngcontent-uhr-c2="" class="form-group">
                      <label for="description">Quote</label>
                    <textarea class="form-control" id="quote" name="quote" required="" rows="2" spellcheck="false">
                    </textarea>
                  </div>
                  <div class="form-group">
                    <label for="author">Author</label>
                    <input type="author" class="form-control" id="author">
                  </div>
                  <button type="submit" class="btn btn-success">Add Quote</button>
            </form>
        </div>
        <div>
            <h1>Quotes For life </h1>
            <div>
                <h3>contains Quotes</h3>
            </div>
        </div>

    </div>
</body>
