<body>
    <div class="container form">
        <div>
            <form class="data" >
              <!-- ngSubmit)='addQuote() ;quotesForm.resetForm({})' -->
                <div class="form-group">
                    <label for="Name">Your Name</label>
                    <input type="text" class="form-control" id="name"[(ngModel)]="quoter.name">
                    [(ngModel)]="quoter.name" 
                  </div>
                  <div class="form-group">
                    <label for="title">Title</label>
                    <input type="title" class="form-control" id="pwd" [(ngModel)]="quoter.title">
                    
                  </div> 
                  <div class="form-group">
                      <label for="description">Quote</label>
                    <textarea class="form-control" id="quote" name="quote" required="" rows="2" spellcheck="false"[(ngModel)]="quoter.itself" ></textarea>
                  </div>
                  <div class="form-group">
                    <label for="author">Author</label>
                    <input type="author" class="form-control" id="author"[(ngModel)]="quoter.author" >
                  </div>
                  <button type="submit" class="btn btn-success">Add Quote</button>
            </form>
        </div>
        <div>
      </div>
      <app-quote></app-quote>
    </div>
</body>