@import url("~bootstrap/dist/css/bootstrap.min.css");

body{
    /* background-o: rgba(0, 0, 0, 0.863); */
    background-image: url("bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: fit-content;
    margin: 20px;
    padding: 40px;
    color: cornsilk;
}
.form{
    display: flex;
    padding: 20px;
    background-color: rgba(100, 148, 237, 0.541);
}
.data{
    padding: 10px;
    width: 18rem;
}
.data *{
    padding: 5px 0px 5px 0px;
}
.data label{
    font-size: 1.2em;
}
