<body>
    <div class="container form">
        <div>
            <form class="data">
                <div class="form-group">
                    <label for="Name">Your Name</label>
                    <input type="text" class="form-control" id="name">
                  </div>
                  <div class="form-group">
                    <label for="title">Title</label>
                    <input type="title" class="form-control" id="pwd">
                  </div> 
                  <div class="form-group">
                      <label for="description">Quote</label>
                    <textarea class="form-control" id="quote" name="quote" required="" rows="2" spellcheck="false"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="author">Author</label>
                    <input type="author" class="form-control" id="author">
                  </div>
                  <button type="submit" class="btn btn-success">Add Quote</button>
            </form>
        </div>
        <div>
      </div>

      <app-quote></app-quote>

    </div>
</body>
